<html>
  <head>
    <title>{{ title }} - Internetowa Liga PSG</title>
  </head>

  <body>
    <div>
      <h1>Internetowa Liga PSG</h1>
      <a href="{{ url_for('index') }}">Landing</a>
      <a href="{{ url_for('news') }}">News</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Zaloguj się</a>
      <a href="{{ url_for('register') }}">Zarejestruj się</a>
      {% else %}
      <a href="{{ url_for('user', username=current_user.username) }}">Profil</a>
      <a href="{{ url_for('logout') }}">Wyloguj się</a>
      {% endif %}
      <hr>
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

  </body>
</html>
