{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ url_for('create_group') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      {{ form.name() }}<br />
      {% for error in form.name.errors %}
      <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.notes.label }}
      {{ form.notes() }}<br />
      {% for error in form.notes.errors %}
      <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.is_hidden.label }}
      {{ form.is_hidden() }}<br />
      {% for error in form.is_hidden.errors %}
      <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}

